html {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

canvas {
  vertical-align: middle; }

.page-wrap {
  padding-top: 120px;
  position: relative;
  height: 100%; }

header {
  height: 120px;
  width: 100%;
  min-width: 1024px;
  background-color: #424242;
  position: fixed;
  z-index: 3;
  padding: 8px 10px 0; }
  header h1 {
    font-size: 2em;
    margin: 0 0 2px;
    color: #ffffff;
    font-weight: normal; }
  header h2 {
    font-size: 0.85em;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0 0 15px; }
  header input {
    font-size: 1em;
    padding: 2px;
    font-family: 'Source Sans Pro', sans-serif; }
    header input:last-child {
      width: 30px;
      text-align: center; }
    header input.path-input {
      width: 400px; }
  header label {
    color: #ffffff;
    font-size: 1em; }

.content {
  position: relative;
  min-height: 100%; }

.file-list {
  width: 200px;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url("../img/tile-dark.jpg") 0 0 repeat;
  background-size: 20px;
  border-right: solid 8px #424242; }
  .file-list p {
    color: #ffffff; }
  .file-list ul {
    list-style: none;
    margin: 0;
    padding: 5px 5px 0; }
    .file-list ul li {
      position: relative;
      padding: 5px;
      margin: 0 0 5px;
      min-height: 29px;
      border: solid 1px transparent; }
      .file-list ul li img {
        max-width: 100%;
        height: auto;
        display: block; }
      .file-list ul li span {
        position: absolute;
        bottom: 5px;
        left: 5px;
        background-color: #333333;
        color: #ffffff;
        padding: 3px;
        font-size: 0.8em;
        border-radius: 5px;
        opacity: 0;
        transition: opacity 300ms ease; }
      .file-list ul li:hover {
        border: dashed 1px #FFFFFF; }
        .file-list ul li:hover span {
          opacity: 1; }
        .file-list ul li:hover .remove {
          opacity: 1; }
  .file-list .remove {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 24px;
    height: 24px;
    background: transparent url("../img/ic_clear_black_24px.svg") 0 0 no-repeat;
    /*background: transparent url('../img/ic_remove_circle_outline_black_24px.svg') 0 0 no-repeat;*/
    cursor: pointer;
    opacity: 0.5;
    filter: invert(1); }
    .file-list .remove:hover {
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

.output {
  padding: 10px 10px 0 210px; }
  .output b {
    font-size: 1.1em; }

.add-files-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 48px;
  height: 48px;
  background: transparent url("../img/ic_add_circle_black_48px.svg") center center no-repeat;
  cursor: pointer;
  display: none; }

.add-files-text {
  position: absolute;
  top: 76px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 175px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  display: none; }

.dropbox {
  /*border: solid 1px #000;*/
  background: transparent url("../img/tile-light.jpg") 0 0 repeat;
  background-size: 20px;
  margin: 0 auto;
  float: left;
  position: relative;
  /*width: 100%;*/
  min-width: 100%;
  min-height: 512px;
  cursor: pointer; }
  .dropbox.is-empty .add-files-btn, .dropbox.is-empty .add-files-text {
    display: block; }

.fileSelect {
  display: block; }

.clear {
  width: 100%;
  clear: both; }

.result {
  padding: 10px 0 0 0; }

textarea {
  width: 1024px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 8px;
  background-color: #F5F5F5; }

.button {
  width: 65px;
  height: 65px;
  cursor: pointer;
  transition: background-color 300ms ease; }
  .button:hover {
    background-color: #00E5FF; }
  .button span {
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    font-size: 0.8em;
    color: #ffffff;
    text-align: center;
    padding-bottom: 5px; }

.download {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #212121 url("../img/ic_file_download_white_48px.svg") center center no-repeat; }

.download-info {
  font-size: 0.9em;
  margin-bottom: 2px; }

.copy {
  position: absolute;
  bottom: 10px;
  right: 85px;
  background: #212121 url("../img/ic_content_copy_white_48px.svg") center center no-repeat; }

.github {
  position: relative;
  left: 10px;
  top: 5px;
  display: inline-block;
  background: transparent url("../img/GitHub-Mark-Light-32px.png") 0 0 no-repeat;
  width: 32px;
  height: 32px; }

.dimensions {
  font-size: 0.9em; }



/*# sourceMappingURL=main.css.map */
