html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  color: #24292e;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

canvas {
  vertical-align: middle;
}

.page-wrap {
  padding-top: 120px;
  position: relative;
  height: 100%;
}
header {
  height: 120px;
  width: 100%;
  min-width: 1024px;
  background-color: #24292e;
  position: fixed;
  z-index: 3;
  padding: 8px 10px 0;

  h1 {
    font-size: 2em;
    margin: 0 0 2px;
    color: #ffffff;
    font-weight: normal;
  }
  h2 {
    font-size: 0.85em;
    color: rgba(255,255,255,0.75);
    font-weight: normal;
    margin: 0 0 15px;
  }
  input {
    font-size: 1em;
    padding: 6px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(255,255,255,0.125);
    color: #fff;
    border: none;
    border-radius: 2px;
    &:last-child {
      width: 30px;
      text-align: center;
    }
    &.path-input {
      width: 400px;
    }
  }
  label {
    color: rgba(255,255,255,0.75);
    font-size: 1em;
  }
}
.content {
  position: relative;
  min-height: 100%;

}
.file-list {
  width: 200px;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  //background: transparent url('/assets/img/tile-dark.jpg') 0 0 repeat;
  //background-size: 20px;
  border-right: solid 8px #24292e;
  p {
    color: #fafbfc;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 5px 5px 0;
    li {
      position: relative;
      padding: 5px;
      margin: 0 0 5px;
      min-height: 29px;
      border: solid 1px transparent;
      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
      span {
        position: absolute;
        bottom: 5px;
        left: 5px;
        background-color: #333333;
        color: #ffffff;
        padding: 3px;
        font-size: 0.8em;
        border-radius: 5px;
        opacity: 0;
      }
      &:hover {
        border: dashed 1px #FFFFFF;
        span {
          opacity: 1;
        }
        .remove {
          opacity: 1;
        }
      }
    }
  }
  .remove {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 24px;
    height: 24px;
    background: transparent url('/assets/img/ic_clear_black_24px.svg') 0 0 no-repeat;
    cursor: pointer;
    opacity: 0.5;
    filter: invert(1);
    &:hover {
      transform: scale(1.1);
    }
  }
}

.output {
  padding: 10px 10px 10px 210px;
  b {
    font-size: 1.1em;
  }
}

.add-files-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 48px;
  height: 48px;
  background: transparent url('/assets/img/ic_add_circle_black_48px.svg') center center no-repeat;
  cursor: pointer;
  display: none;
}
.add-files-text {
  position: absolute;
  top: 76px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 175px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  display: none;
}

.dropbox {
  border: solid 1px #E0E0E0;
  //background: transparent url('/assets/img/tile-light.jpg') 0 0 repeat;
  //background-size: 20px;
  margin: 0 auto;
  float: left;
  position: relative;
  min-width: 100%;
  min-height: 512px;
  cursor: pointer;
  &.is-empty {
    .add-files-btn, .add-files-text {
      display: block;
    }
  }
}

.fileSelect {
  display: block;
}

.clear {
  width: 100%;
  clear: both;
}

.result {
  padding: 10px 0 0 0;
}

textarea {
  width: 1024px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px 8px;
  background-color: #F5F5F5;
  box-shadow: none;
  border: solid 1px #E0E0E0;
}
.button {
  width: 65px;
  height: 65px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 300ms ease;
  &:hover {
    background-color: #00E5FF;
  }
  span {
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding-bottom: 5px;
  }
}
.download {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(255,255,255,0.125) url('/assets/img/ic_file_download_white_48px.svg') center center no-repeat;
}
.download-info {
  font-size: 0.9em;
  margin-bottom: 2px;
}
.copy {
  position: absolute;
  bottom: 10px;
  right: 85px;
  background: rgba(255,255,255,0.125) url('/assets/img/ic_content_copy_white_48px.svg') center center no-repeat;
}
.github {
  position: relative;
  left: 10px;
  top: 5px;
  display: inline-block;
  background: transparent url('/assets/img/GitHub-Mark-Light-32px.png') 0 0 no-repeat;
  width: 32px;
  height: 32px;
}
.dimensions {
  font-size: 0.9em;
}

.dark-checkered {
  background-color: #757575;
  background-image:
    linear-gradient(45deg, #424242 25%, transparent 25%),
    linear-gradient(-45deg, #424242 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #424242 75%),
    linear-gradient(-45deg, transparent 75%, #424242 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.light-checkered {
  background-color: #f5f5f5;
  background-image:
    linear-gradient(45deg, #e0e0e0 25%, transparent 25%),
    linear-gradient(-45deg, #e0e0e0 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #e0e0e0 75%),
    linear-gradient(-45deg, transparent 75%, #e0e0e0 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
