html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

canvas {
  vertical-align: middle; }

.page-wrap {
  padding-top: 100px;
  position: relative;
  height: 100%; }

.header-bg {
  display: none; }

header {
  height: 100px;
  width: 100%;
  background-color: #424242;
  position: fixed;
  z-index: 3;
  padding: 8px 10px 0; }
  header h1 {
    font-size: 2em;
    margin: 10px 0;
    color: #ffffff;
    font-weight: normal; }
  header input {
    font-size: 0.9em; }
    header input:last-child {
      width: 30px;
      text-align: center; }
  header label {
    color: #ffffff;
    font-size: 0.9em; }

.content {
  position: relative;
  min-height: 100%; }

.file-list {
  width: 200px;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url("../img/tile-dark.jpg") 0 0 repeat;
  background-size: 20px; }
  .file-list p {
    color: #ffffff; }
  .file-list ul {
    list-style: none;
    margin: 0;
    padding: 5px 5px 0; }
    .file-list ul li {
      position: relative;
      padding: 5px;
      margin: 0 0 5px;
      min-height: 29px;
      border: solid 1px transparent; }
      .file-list ul li img {
        max-width: 100%;
        height: auto;
        display: block; }
      .file-list ul li span {
        position: absolute;
        bottom: 5px;
        left: 5px;
        background-color: #333333;
        color: #ffffff;
        padding: 3px;
        font-size: 0.8em;
        border-radius: 5px;
        opacity: 0;
        transition: opacity 300ms ease; }
      .file-list ul li:hover {
        border: dashed 1px #FFFFFF; }
        .file-list ul li:hover span {
          opacity: 1; }
        .file-list ul li:hover .remove {
          opacity: 1; }
  .file-list .remove {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 24px;
    height: 24px;
    background: transparent url("../img/ic_clear_black_24px.svg") 0 0 no-repeat;
    /*background: transparent url('../img/ic_remove_circle_outline_black_24px.svg') 0 0 no-repeat;*/
    cursor: pointer;
    opacity: 0.5;
    -webkit-filter: invert(1);
    filter: invert(1); }
    .file-list .remove:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }

.output {
  padding: 10px 10px 0 210px; }

.add-files-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 48px;
  height: 48px;
  background: transparent url("../img/ic_add_circle_black_48px.svg") center center no-repeat;
  cursor: pointer;
  display: none; }

.add-files-text {
  position: absolute;
  top: 76px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 175px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  display: none; }

.dropbox {
  /*border: solid 1px #000;*/
  background: transparent url("../img/tile-light.jpg") 0 0 repeat;
  background-size: 20px;
  margin: 0 auto;
  float: left;
  position: relative;
  /*width: 100%;*/
  min-width: 100%;
  min-height: 512px;
  cursor: pointer; }
  .dropbox.is-empty .add-files-btn, .dropbox.is-empty .add-files-text {
    display: block; }

.fileSelect {
  display: block; }

.clear {
  width: 100%;
  clear: both; }

.result {
  padding: 10px 0 0 0; }

textarea {
  width: 1024px; }

.download {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 48px;
  background: transparent url("../img/ic_file_download_white_48px.svg") center 0 no-repeat;
  cursor: pointer; }
  .download span {
    font-size: 0.8em;
    color: #ffffff;
    width: 80px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 46px; }
  .download:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }

.download-info {
  font-size: 0.7em; }

.copy {
  position: absolute;
  top: 10px;
  right: 100px;
  width: 80px;
  height: 48px;
  background: transparent url("../img/ic_content_copy_white_48px.svg") center 0 no-repeat;
  cursor: pointer; }
  .copy span {
    font-size: 0.8em;
    color: #ffffff;
    width: 80px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 54px; }
  .copy:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }

.github {
  position: relative;
  left: 10px;
  top: 5px;
  display: inline-block;
  background: transparent url("../img/GitHub-Mark-Light-32px.png") 0 0 no-repeat;
  width: 32px;
  height: 32px; }

.dimensions {
  font-size: 0.8em; }

@media (max-width: 800px) {
  .header-bg {
    height: 100px;
    width: 100%;
    background-color: #424242;
    position: fixed;
    z-index: 2;
    display: block; }
  header {
    position: absolute;
    width: 800px; } }
